body {
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Symbols";
  margin: 0;
  /* background-image: url("../Images/wallpaper2.jpg");
  background-size: cover;
  background-position: bottom; */
  background:#313338;
  display: grid;
  grid-template-columns: 315px 1fr;
  overflow:hidden;
  position: relative;
}
body > * {
  position: relative;
  height: 100dvh;
}

.unavailable, .unavailable::before, .unavailable::after {
  display: none;
}
.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
#left-section {
  display: grid;
  grid-template-columns: 75px 1fr;
}
#left-section > * {
  max-height: 100vh;
}
p {
  margin: 0;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
:root {
  --grey-color: #93979e;
  --hover-color: rgba(255, 255, 255, 0.1);
  --dark-color: #111214;
  --light-color: #b5bac1;
}

.margin {
  margin-top: 25px;
  margin-bottom: 25px;
}

.fs-12 {
  font-size: 12px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fc-orange {
  color: orange;
}
.fc-purple {
  color: purple;
}
.fc-yellow {
  color: yellow;
}




.tooltip {
  font-size: 14px;
  font-family: "gg sans";
  font-weight: normal;
  text-wrap: nowrap;
  border-radius: 4px;
  padding: 10px;
  background-color: var(--dark-color);
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.1s;
  pointer-events: none;
  z-index: 100;
}
.circle {
  position: relative;
}
.circle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0px;
  right: 0px;
  border-radius: 10px;
  background-color: rgb(0, 177, 0);
}
.bf-red::before,
.af-red::after {
  background-color: red;
}

.bf-orange::before,
.af-orange::after {
  background-color: orange;
}
.bf-yellow::before,
.af-yellow::after {
  background-color: yellow;
}
.bf-purple::before,
.af-purple::after {
  background-color: purple;
}

@media (max-width: 899px) {
  .main-section {
    display: none;
  }
  body {
    grid-template-columns: 1fr;
  }
}
