body {
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Symbols";
  margin: 0;
  /* background-image: url("../Images/wallpaper2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat; */
  background-color: rgb(48, 49, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

main {
  position: relative;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
  background: #1e1f22;
  color: white;
  border-radius: 10px;
  min-width: 300px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border {
  --angle: 0deg;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  background-image: conic-gradient(
    from var(--angle),
    #00eeff,
    #0077ff,
    #00eeff
  );
  padding: 2px;
  border-radius: inherit;
  z-index: -1;
  animation: spin infinite 4s linear;
}
.blurred {
  filter: blur(5px);
  opacity: 0.7;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

#title {
  font-size: 42px;
  font-weight: bold;
}
#users {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 250px;
  padding: 4px 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: 0.2s;
  border: 2px solid transparent;
  border-radius: 5px;
}
.user:hover {
  /* background: #3e4eff; */
  /* border: 2px solid #8791ff; */
  background: rgba(255, 255, 255, 0.1);
}
/* .user::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #3e4eff;
  opacity: 1;
  transition: 0.3s;
  z-index: -1;
}

.user:hover::before {
  width: 100%;
} */
.user-img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.user-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  flex: 1;
}
.next-button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.next-button:hover {
  text-decoration: underline;
}
.signed-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.signed-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.signed-user .user-img {
  width: 85px;
  height: 85px;
}

.signed-user .user-name {
  font-size: 26px;
  flex: 0;
}
.signed-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
#sign-out {
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  right: -70px;
  bottom: 0;
}
#sign-out:hover {
  text-decoration: underline;
}
#continue, #sign-in-button{
  font-size: 16px;
  background: #5865f2;
  padding: 5px 10px;
  color: white;

  transition: 0.2s;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#continue:hover, #sign-in-button:hover {
  background: #4752c4;
}

.user-img-container {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border-radius: 200px;
  width: 40px;
  height: 40px;
}

.user-img-container::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -27px;

  width: 150%;
  height: 5px;
  background-color: rgb(255, 229, 199);
  mix-blend-mode: overlay;
  z-index: 24;
  filter: blur(3px);
  transform: rotateZ(142deg);
}

@keyframes shine {
  0% {
    top: -5px;
    left: -27px;
    opacity: 1;
  }

  100% {
    top: 40px;
    left: 10px;
    opacity: 0;
  }
}

.user:hover .user-img-container::before {
  animation: shine 0.5s linear;
}

#sign-in-container {
  display: none;
  flex-direction: column;
  align-items: center;  width: 100%;
  gap: 15px;
}
#sign-in-user {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
#sign-in-user .user-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
#sign-in-user .user-name {
  font-size: 32px;
}
#sign-in-form{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 90%;
}
#password{
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  color:white;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  width: 100%;
}
#sign-in-container .img-container{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 200px;
}

#sign-in-container .img-container .border{
z-index: 0;
padding: 1px;
background-image: conic-gradient(
  from var(--angle),
  #ffdd00,
  #66ff00,
  #ffdd00
);
}
#sign-in-container .img-container .border .blurred {
  filter: blur(3px);
  opacity: 0.5;
}

#back-button{
  display: none;
  position: absolute;
  top: 12px;
  left: 16px;
  cursor: pointer;
  z-index: 1;
  font-size: 18px;
  padding: 5px;
}
#back-button:hover{
  text-decoration: underline;
}